$primary: #2572b4;
$success: #1b6c1c;
$warning: #f2d40d;
$danger: #bc3331;

$text: #333;

$family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$size-1: 48px;
$size-2: 40px;
$size-3: 32px;
$size-4: 24px;
$size-5: 20px;
$size-6: 16px;
$size-7: 12px;

// Spacing

$block-spacing: 24px;

// Typography

$family-primary: $family-sans-serif;
// $family-secondary: $family-sans-serif !default
// $family-code: $family-monospace !default

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;
